language: python

cache: pip

sudo: false

dist: bionic

python:
- '3.6'

os:
- linux

before_install:
  - pip install -r test_requirements.txt

install:
  - pip install -U -r requirements.txt

script:
  - python -m coverage run --branch --source . -m unittest discover --verbose

after_success:
  - python -m pylint --load-plugins=pylint.extensions.mccabe --docstring-min-length 5 --no-docstring-rgx "^(test)?_|.*Tests$" --unsafe-load-any-extension y --output-format colorized  --reports y $(find . -name "*.py")
  - python -m coverage report --show-missing
  - coveralls
