<script>
//var prim_key="${list(keyvals.keys())[0]}"
//var sec_key="${list(keyvals.keys())[1]}"
var prim_key="device"
var sec_key="framework"
var keyvals=${keyvals}
var filters = {
  //"kernel": "conv2"
}
var filters_prim = {}
% for key in keyvals:
filters_prim["${key}"] =  new Set();
% endfor
function check_checkboxes()
{
% for key in keyvals:
  % for val in keyvals[key]:
if (document.getElementById("check_${key}_${val}").checked) {
   filters_prim["${key}"].add("${val}"); } 
else {
  filters_prim["${key}"].delete("${val}"); }
  % endfor
% endfor
}
$( document ).ready(function() {
    check_checkboxes();
    //document.getElementById("div_debug").innerHTML ="checkboxes checked";
    plot_chart();
});
var colors = ["TEAL", "OLIVE", "ORANGE", "RED", "#1b9e77", "#d95f02", "#7570b3", "#e7298a", "#66a61e", "#e6ab02", "#a6761d", "#666666"]
//var colors = ["#1b9e77", "#d95f02", "#7570b3", "#e7298a", "#66a61e", "#e6ab02", "#a6761d", "#666666"]
//var colors = ["#e41a1c", "#377eb8", "#4daf4a", "#984ea3", "#ff7f00", "#ffff33", "#a65628", "#f781bf", "#999999"]
</script>


<%def name="make_radio_button(key, val)">
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="radio_${key}_${val}" name="radio_for_${key}" onclick="set_filter('${key}','${val}')">
  <label class="custom-control-label" for="radio_${key}_${val}">${val}</label>
</div>
</%def>

<%def name="make_checkbox(key, val)">
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" checked class="custom-control-input" id="check_${key}_${val}" onclick="set_key_filter('${key}','${val}','check_${key}_${val}')">
  <label class="custom-control-label " for="check_${key}_${val}">${val}</label>
</div>


</%def>

<%def name="make_radio_line(key, vals)">
    <tr>
      <td class="rg-container w-10" id="td_key1_${key}"  onclick="set_prim_key('${key}')">
          <input class="rg" id="radio_key1_${key}" name="radio_for_key1" type="radio">
          <span class="rg-mark text-white">key1</span>
          <!--i class="fas fa-check fa-2x text-white rg-mark"></i-->
     </td>
      <td  class="rg-container" id="td_key2_${key}"  onclick="set_sec_key('${key}')">
          <input class="rg" id="radio_key2_${key}" name="radio_for_key2" type="radio">
          <span class="rg-mark text-white">key2</span>
      </td>
      <th class="align-middle" scope="row">${key}</th>
      <td>
      <div id="div_radio_${key}" class="btn-group" role="group" aria-label="..." style="padding: 2px;">
        % for val in vals:
          ${make_radio_button(key, val)}
        % endfor
      </div>
      <div id="div_check_${key}" class="btn-group" role="group" aria-label="..." style="padding: 2px;">
        % for val in vals:
          ${make_checkbox(key, val)}
        % endfor
      </div>
    </td>
    </tr>
</%def>


<table class="table  table-bordered ">
  <!--thead>
    <tr>
      <th class="w-10">key1</th>
      <th class="w-10">key2</th>
      <th class="w-10"></th>
      <th class="w-70">values</th>
    </tr>
  </thead-->
  <tbody>
% for key in keyvals:
  ${make_radio_line(key, keyvals[key])}
% endfor
  </tbody>
</table>

<script type="text/javascript">
  $('.rg').click(function () {
    $(this).parent().click();
});

        function set_filter(key, val) {
          if ( (key != prim_key) && (key != sec_key))
          filters[key] = val;
          plot_chart(); };
        
        function set_key_filter(key, val, id)
        {
        if (document.getElementById(id).checked)  {
          filters_prim[key].add(val);
          }
        else {
          filters_prim[key].delete(val);
        }
          plot_chart();
        }  

        function set_prim_key(key) {
          if (sec_key == key)
            sec_key = prim_key;
          prim_key = key;
          if (filters.hasOwnProperty(key))  {           
              delete filters[key] }
          plot_chart(); };
        
        function set_sec_key(key) {
          if (prim_key == key)
            prim_key = sec_key; 
          sec_key = key;
          if (filters.hasOwnProperty(key))  {           
              delete filters[key] }
          plot_chart();  };
        
//$('.rg-container').click(function () {
    //var rgMark = rgContainer.children('.rg-mark');
    //var isChecked = rg.prop('checked');


    //if (isChecked) {
        //rg.prop('checked', false);
        //rgMark.hide();
        //rgContainer.toggleClass('bg-info', false);
    //}
    //else {
        //rg.prop('checked', true);
        //rgMark.show();
        //rgContainer.toggleClass('bg-info', true);
    //}
//});
        function set_rg_button(rgContainer)
        {
          rgContainer.toggleClass('bg-info', true);
          var rgMark = rgContainer.children('.rg-mark');
          rgMark.show();
          var rg = rgContainer.children('.rg');
          rg.prop('checked', true);
        }
        function update_controls() {
          // Reset everything.
          var rgContainers = $('.rg-container');
          rgContainers.toggleClass('bg-info', false);
          var rgMarks = $('.rg-mark');
          rgMarks.hide();

          set_rg_button($("#td_key1_" + prim_key));
          set_rg_button($("#td_key2_" + sec_key));


          //document.getElementById("radio_key1_" + prim_key).checked=true;
          //document.getElementById("radio_key2_" + sec_key).checked=true;
          //document.getElementById("div_prim_key").innerHTML = prim_key;
          //document.getElementById("div_sec_key").innerHTML = sec_key;
          $("#div_radio_" + prim_key).hide()
          $("#div_check_" + prim_key).show()
          $("#div_radio_" + sec_key).hide()
          $("#div_check_" + sec_key).show()
          for (key in keyvals) {
              //str_filters += key +": "+filters[key];
              if ((key != prim_key) && (key != sec_key))
              {
                $("#div_radio_" + key).show('fast')
                $("#div_check_" + key).hide('fast')
                if (! filters.hasOwnProperty(key))
                  filters[key] = keyvals[key][0]
              }
          }  
          for (key in filters) {
            document.getElementById("radio_" + key + "_" + filters[key]).checked=true;
          }
        }


</script>